https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
https://pandas.pydata.org/docs/user_guide/index.html

In [ ]:
import pandas as pd
#from IPython.display import display

In [2]:
# just for debugging when json doesn't load correctly in next block
import json
for l in open("timing.result", "r") :
    json.loads(l)

In [17]:
timing = pd.read_json("timing.result", lines = True)

In [7]:
ti = timing.sort_values("max_timing", ascending = False)
ti

,timings,max_timing,file_id,query_type,sample_id
96,"[207, 28, 31, 29, 26, 28, 27, 30, 27, 30]",207,9,FIXME!!!,111
193,"[162, 27, 26, 25, 20, 19, 16, 16, 16, 17]",162,2,FIXME!!!,3
88,"[45, 47, 37, 25, 25, 23, 23, 24, 26, 24]",47,9,FIXME!!!,119
29,"[37, 18, 19, 17, 17, 17, 21, 17, 17, 17]",37,12,FIXME!!!,184
111,"[20, 19, 20, 20, 23, 34, 36, 27, 27, 23]",36,8,FIXME!!!,94
...,...,...,...,...,...
137,"[12, 13, 13, 14, 13, 13, 13, 13, 14, 13]",14,7,FIXME!!!,66
148,"[12, 13, 13, 13, 13, 13, 13, 13, 13, 13]",13,7,FIXME!!!,55
141,"[12, 12, 12, 12, 12, 12, 12, 12, 12, 13]",13,7,FIXME!!!,62
139,"[12, 12, 12, 13, 12, 12, 12, 12, 13, 12]",13,7,FIXME!!!,64
138,"[12, 12, 12, 12, 12, 12, 12, 12, 13, 12]",13,7,FIXME!!!,65

In [14]:
ti.query('query_type == "FIXME!!!"')

,timings,max_timing,file_id,query_type,sample_id
96,"[207, 28, 31, 29, 26, 28, 27, 30, 27, 30]",207,9,FIXME!!!,111
193,"[162, 27, 26, 25, 20, 19, 16, 16, 16, 17]",162,2,FIXME!!!,3
88,"[45, 47, 37, 25, 25, 23, 23, 24, 26, 24]",47,9,FIXME!!!,119
29,"[37, 18, 19, 17, 17, 17, 21, 17, 17, 17]",37,12,FIXME!!!,184
111,"[20, 19, 20, 20, 23, 34, 36, 27, 27, 23]",36,8,FIXME!!!,94
...,...,...,...,...,...
137,"[12, 13, 13, 14, 13, 13, 13, 13, 14, 13]",14,7,FIXME!!!,66
148,"[12, 13, 13, 13, 13, 13, 13, 13, 13, 13]",13,7,FIXME!!!,55
141,"[12, 12, 12, 12, 12, 12, 12, 12, 12, 13]",13,7,FIXME!!!,62
139,"[12, 12, 12, 13, 12, 12, 12, 12, 13, 12]",13,7,FIXME!!!,64
138,"[12, 12, 12, 12, 12, 12, 12, 12, 13, 12]",13,7,FIXME!!!,65

In [22]:
filenames = pd.read_json("files.result", lines = True)
filenames

    file_id                           filename
0        12                      ./bin/data.ml
1        11                  ./bin/bin_tree.ml
2        10                    ./bin/import.ml
3         9                      ./bin/main.ml
4         8       ./_build/default/bin/data.ml
5         7   ./_build/default/bin/bin_tree.ml
6         6  ./_build/default/bin/import.pp.ml
7         5     ./_build/default/bin/import.ml
8         4    ./_build/default/bin/main.pp.ml
9         3    ./_build/default/bin/data.pp.ml
10        2       ./_build/default/bin/main.ml

In [29]:
filenames.index = filenames.file_id

In [31]:
filenames

         file_id                           filename
file_id
12            12                      ./bin/data.ml
11            11                  ./bin/bin_tree.ml
10            10                    ./bin/import.ml
9              9                      ./bin/main.ml
8              8       ./_build/default/bin/data.ml
7              7   ./_build/default/bin/bin_tree.ml
6              6  ./_build/default/bin/import.pp.ml
5              5     ./_build/default/bin/import.ml
4              4    ./_build/default/bin/main.pp.ml
3              3    ./_build/default/bin/data.pp.ml
2              2       ./_build/default/bin/main.ml

In [50]:
filenames.loc[9].filename

'./bin/main.ml'

In [51]:
filenames.at[9, "filename"]

'./bin/main.ml'